# Python
__pycache__/
*.py[cod]

# Virtual Environment
.venv/

# Environment variables
.env

# VS Code
.vscode/

# Logs
logs/

# OS files
.DS_Store
Thumbs.db
# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log
*.tfplan

# Variable files
terraform.tfvars
*.auto.tfvars
local/checkpoints*.json